body {
    background: url("jplogo.jpg") no-repeat center center fixed;
    background-size: cover;
}

main {
    font-family: Arial, sans-serif;
    background-color: rgb(255,255,255, .75);
    margin: 25px auto;
    align-content: center;
    opacity: 100%;
    width: 90%;
    max-width: 970px;
    height: 100%;
    padding: 25px;
}

header {
    background-color: white;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ccc;
    border-radius: 5px;
    color: black;
    font-family: Arial, sans-serif;
}

p {
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

p.actor {
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    p {
        font-size: 18px;
    }
    main {
        padding: 15px;
        margin: 10px;
    }
    footer {
        padding: 5px 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    p {
        font-size: 16px;
    }
    main {
        padding: 20px;
    }
    img {
        max-width: 80%;
    }
}